@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background-color: #cccccc;
}

*::-webkit-scrollbar-thumb {
  background-color: #707070;
}

html{
  max-height: 100dvh;
}